.vscode
playwright-report/
playwright-videos/
test-results/
node_modules/
fable_modules/
dist
out/
deps/
artifacts/
bin/
obj/
target/
dist_extension/
tmp/
paket-files/
.paket/
.history/
vscode-common-tests

apps/LICENSE

apps/chat/contract/lib
apps/spiral/temp/cube/lib
