version 8.0
framework: net8.0
storage: none
source https://api.nuget.org/v3/index.json


nuget Argu ~> 6.1
nuget Expecto ~> 10.1
nuget Expecto.FsCheck ~> 10.1.0-fscheck3
nuget Fable.Core ~> 4.0 prerelease
nuget Feliz.ViewEngine ~> 0.24
nuget FParsec ~> 2.0 prerelease
nuget FsCheck ~> 3.0 prerelease
nuget FSharp.Control.AsyncSeq ~> 3.2
nuget FSharp.Core >= 7.0 prerelease
nuget FSharp.Json ~> 0.4
nuget Microsoft.AspNetCore.SignalR.Client == 7.0.0
nuget System.CommandLine ~> 2.0 prerelease
nuget System.Reactive.Linq ~> 6.0 prerelease
nuget Tomlyn ~> 0.16
