version 7.0
framework: net7.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 7.0 prerelease

nuget Fable.Core ~> 4.0 prerelease

nuget FsCheck ~> 2.0
nuget Expecto ~> 9.0 prerelease
nuget Expecto.FsCheck ~> 9.0 prerelease
