[package]
name = "extension"
version = "0.0.1"
edition = "2021"
workspace = "../../../../"
description = ""
repository.workspace = true
license-file.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "~0.2"

borsh = { version = "~1.1" }
console_error_panic_hook = { version = "0.1"}
console_log = { version = "1"}
futures = "~0.3"
gloo-net = { version = "0.4", features = ["http"] }
js-sys = "~0.3"
leptos = { version = "~0.5", features = ["csr", "nightly"] }
leptos_meta = { version = "~0.5", features = ["csr", "nightly"] }
leptos_router = { version = "~0.5", features = ["csr", "nightly"] }
log = "~0.4"
reqwest-wasm = { version = "~0.11", features = ["json"] }
rexie = "~0.5"
serde = "~1.0"
serde_json = { version = "~1.0", features = ["arbitrary_precision"] }
serde-wasm-bindgen = "~0.6"
wasm-bindgen-futures = "~0.4"

[dependencies.web-sys]
version = "~0.3"
features = [
  'Document',
  'Element',
  'HtmlElement',
  'HtmlInputElement',
  'HtmlCollection',
  'Node',
  'Window',
  'console',
  'DomTokenList',
  'Storage',
]
